#!/bin/bash
# Ce script initialise le nœud NuLink

export NULINK_KEYSTORE_PASSWORD="{{ keystore_password }}"
export NULINK_OPERATOR_ETH_PASSWORD="{{ eth_password }}"

docker run -it --rm \
  -p 9151:9151 \
  -v /root/nulink:/code \
  -v /root/nulink:/home/circleci/.local/share/nulink \
  -e NULINK_KEYSTORE_PASSWORD \
  nulink/nulink nulink ursula init \
  --signer keystore:///code/{{ keystore_file_name }} \
  --eth-provider https://data-seed-prebsc-2-s2.binance.org:8545 \
  --network horus \
  --payment-provider https://data-seed-prebsc-2-s2.binance.org:8545 \
  --payment-network bsc_testnet \
  --operator-address "{{ wallet_address.stdout | trim }}" \
  --max-gas-price 10000000000

# Note: Ce script nécessite une interaction manuelle pour compléter l'initialisation.
